@model Foodshare.Models.Donation
@{

    if (Model.DonationId > 0)
    {
        ViewBag.Title = "Edit Donation";
    }
    else
    {
        ViewBag.Title = "Add New Donation";
    }

}

@section head{

@Styles.Render("~/Content/datetime")    
    
}

@section scripts{
    
    <script type="text/javascript">


        $(function () {

            $('.date').datetimepicker({
                locale: 'en-au',
                format: 'DD/MM/YYYY h:mm A'
            });

        });


    </script>    
    
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Donations", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.DonationId)
    @Html.HiddenFor(m => m.ImageUrl)
    @Html.HiddenFor(m => m.DonatedById)

    @Html.ValidationSummary("", new { @class = "text-danger" })
    
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "A short title describing the item" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Image</label>
        <div class="col-md-10">
            <input type="file" name="DonationImage" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows="8", placeholder = "A fuller description of item\r\n\r\nInclude:\r\n- " })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Location, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Location, new { @class = "form-control", placeholder = "Street Address ideally" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.AvailableFrom, "Available From", new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            <div class='input-group date' id='datetimepicker6'>
                @Html.TextBoxFor(m => m.AvailableFrom, new { @class = "form-control", placeholder = "From this date/time" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        @Html.LabelFor(m => m.AvailableTo, "Available Until", new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            <div class='input-group date' id='datetimepicker7'>
                @Html.TextBoxFor(m => m.AvailableTo, new { @class = "form-control", placeholder = "To this date/time" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">

            @if (Model.DonationId == 0)
            {
                <input type="submit" class="btn btn-default" value="Add new donation" />
            }
            else
            {
                <input type="submit" class="btn btn-default" value="Update donation" />
            }

            
        </div>
    </div>
}

