@model IEnumerable<Foodshare.Models.Donation>

@{
    ViewBag.Title = "Donations";
}

@section scripts{
    
<script>

    $(function () {
        updateCountdowns();
    });


    function updateCountdowns()
    {
        $('.countdown').each(function (index, value) {

            var finish = $(value).attr('data-finish');

            var eventTime = moment(finish, 'DD-MM-YYYY HH:mm:ss').unix();
            var currentTime = moment().unix();
            var diffTime = eventTime - currentTime;
            var duration = moment.duration(diffTime * 1000, 'milliseconds')

            var h = moment.duration(duration).hours();
            var m = moment.duration(duration).minutes();
            var s = moment.duration(duration).seconds();

            $(value).text(h + ' hours ' + m + ' minutes ' + s + ' seconds')

        });

        setTimeout(updateCountdowns, 1000);
    }

</script>    
    
}

<h2>Donations</h2>

@if (!ViewBag.EmailConfirmed)
{
<div class="row">
    <div class="col-xs-12 text-danger"><h3>Warning: You won't get any notifications until you verify your email</h3></div>
</div>
}

@if (User.IsInRole("Agency") || User.IsInRole("Administrator"))
{
    <div class="row">

        <div class="col-xs-12">

            <div class="well">
                <ul>
                    <li><a target="_blank" href="~/Content/guidelines-for-donations-of-cooked-or-prepared-food.pdf">Guidelines for donations of cooked or prepared food</a></li>
                    <li><a target="_blank" href="~/Content/label-for-donated-prepared-food.docx">Label for donated prepared food</a></li>
                </ul>
            </div>

        </div>

    </div>
}



<div class="row">
    <div class="col-xs-12 text-right">

        <a class="btn btn-danger btn-lg" href="@Url.Action("Edit" )"><span class="glyphicon glyphicon-plus"></span> New Donation</a>

    </div>

</div>

@if (User.IsInRole("Agency") && Model.Where(x => x.ClaimedById == null && x.AvailableTo > DateTime.Now).Count() == 0)
{
    <div class="row">
        <div class="col-xs-12">

            <h3>No Available Donations</h3>
            <div class="text-info">
                <p>Currently there are no donations available. However as soon as a supplier lists a new donation, you'll get a notification via email.</p>
                <p>If you, as an Agency, have excess food, you can also list it here as a donation that other Agencies can claim.</p>
            </div>

        </div>
    </div>
}


@foreach (var item in Model) {


<div class="@((item.ClaimedById != null && item.ClaimedById == ViewBag.UserId) ? "panel panel-success" : "")" style="margin-top: 1em;padding-bottom: 1em;">


    <div class="row" style="margin-top: 1em;">
        <div class="col-xs-12 col-sm-3 ">
            <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" style="width: 100%; max-height: 500px; margin: 0 auto;" />
        </div>
        <div class="col-xs-12 col-sm-6">
            <h2>@Html.DisplayFor(modelItem => item.Title)</h2> <br>
                                                               <p>
                                                                   <strong>Location:</strong> @Html.DisplayFor(modelItem => item.Location)</p><p><strong>Description: </strong><br/>
                                                                   @Html.DisplayFor(modelItem => item.Description)
                                                               </p>

            <div><strong>Date:</strong> @item.AvailableFrom.ToString("dd MMM yyyy") <strong>Time:</strong> between @item.AvailableFrom.ToString("HH:mm") and @item.AvailableTo.ToString("HH:mm")</div>
        </div>
        <div class="col-xs-12 col-sm-3">

            @if (item.DonatedById == ViewBag.UserId)
    {
        <p style="margin-top: 1em;"><a class="btn btn-default" href="@Url.Action("Edit", new { id = item.DonationId })">Edit</a></p>
}

            @if (User.IsInRole("Agency") && item.ClaimedById == null && item.AvailableTo > DateTime.Now && item.DonatedById != ViewBag.UserId)
    {
        <p><strong>Remaining:</strong></p>
        <p>
            <span class="countdown" data-finish="@item.AvailableTo.ToString("dd-MM-yyyy HH:mm:ss")"></span>
        </p>
        <p style="margin-top: 1em;"><a class="btn btn-default btn-lg" href="@Url.Action("Claim", new { id = item.DonationId })"><span class="glyphicon glyphicon-heart"></span> Claim</a></p>
}

            @if (item.AvailableTo < DateTime.Now)
    {
        <p style="margin-top: 1em;" class="text-danger">Donation is no longer available</p>
}

            @if (item.ClaimedById != null && item.ClaimedById != ViewBag.UserId)
    {
        <p style="margin-top: 1em;" class="text-danger">
            Donation has been claimed @if (User.IsInRole("Administrator"))
    {<span>by @item.ClaimedBy.Email</span>}
        </p>
}

            @if (item.ClaimedById != null && item.ClaimedById == ViewBag.UserId)
    {
        <p><strong>Pickup Within:</strong></p>
        <p>
            @if (item.AvailableTo > DateTime.Now)
    {
        <span class="countdown" data-finish="@item.AvailableTo.ToString("dd-MM-yyyy HH:mm:ss")"></span>
}
else
{
        <span class="text-warning">This item is overdue to be picked up.</span>
}
        </p>

        <p style="margin-top: 1em;" class="text-success">You have claimed this Donation</p>

        <p><strong>Contact:</strong> @item.DonatedBy.Email</p>
        <p><strong>Telephone:</strong> @item.Phone</p>

}
        </div>
    </div>

</div>


    }



   
