@model List<Foodshare.Models.ApplicationUser>
@{
    ViewBag.Title = "Users";
}

@section scripts{

<script>


    $(function () {

        $('.user-role').click(function () {

            var id = $(this).attr('data-id');
            var role = $(this).attr('data-role');

            $.ajax('/Users/ToggleRole', {
                method: 'POST',
                data: { id: id, role: role }
            }).done(function (data) {


            });

            if ($(this).hasClass('btn-danger')) {
                $(this).removeClass('btn-danger').addClass('btn-link');
            }
            else {
                $(this).removeClass('btn-link').addClass('btn-danger');
            }

        });

    });

</script>
 
}

<h2>Users</h2>


<table style="width: 100%;">
    <thead>
        <tr>
            <th>Email</th>
            <th>Date</th>
            <th>Company</th>
            <th>Confirmed?</th>


            @foreach (var role in ViewBag.Roles)
            {
                <th>@role.Name</th>
            }

        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email </td>
                <td>@user.DateCreated.ToString()</td>
                <td>@user.Company</td>
                <td>@if (user.EmailConfirmed)
                { <span class="glyphicon glyphicon-envelope"></span> }</td>

                @foreach (var role in ViewBag.Roles)
                {
                    if (user.Roles.Select(x => x.RoleId).Contains((string)role.Id))
                    {
                        <td><span data-id="@user.Id" data-role="@role.Name" class="btn btn-danger user-role">X</span></td>
                    }
                    else
                    {
                        <td><span data-id="@user.Id" data-role="@role.Name" class="btn btn-link user-role">X</span></td>
                    }

                }

            </tr>
        }

    </tbody>
</table>

