@model List<Foodshare.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

@section scripts{

<script>


    $(function () {

        $('.user-agency').click(function () {

            var id = $(this).attr('data-id');

            $.ajax('/Users/ToggleAgency', {
                method: 'POST',
                data: { id: id }
            }).done(function (data) {

                if (data.isAgency)
                {
                    $('#' + data.id + ' > span').removeClass('btn-default').addClass('btn-danger');
                }
                else {
                    $('#' + data.id + ' > span').removeClass('btn-danger').addClass('btn-default');
                    }
            });

        });

    });

</script>
 
}

<h2>Users</h2>

@foreach (var user in Model)
{
    <div class="row" style="margin-bottom: 1em;">
        <div class="col-sm-3">@user.Email @if (user.EmailConfirmed) { <span class="glyphicon glyphicon-envelope"></span> }</div>
        <div class="col-sm-6">@user.Company</div>
        <div class="col-sm-3" id="@user.Id">@if (user.IsAgency) {
            <span data-id="@user.Id" class="btn btn-danger user-agency">Agency</span>
        }
        else
        {
            <span data-id="@user.Id" class="btn btn-default user-agency">Agency</span>
        }
        </div>
    </div>
}