@model List<Foodshare.Models.ApplicationUser>
@{
    ViewBag.Title = "Users";
}

@section head{

<style type="text/css">

    .user-role .fa-circle {
        color: #ccc;
    }

    .user-role .fa-check {
        color: #0d4e11;
    }
    
    .user-role {
        cursor: pointer;
        opacity: 0.8;
    }

    .user-role:hover {
        cursor: pointer;
        opacity: 1;
    }

</style>
    
}


@section scripts{

<script>


    $(function () {

        $('.user-role').click(function () {

            var id = $(this).attr('data-id');
            var role = $(this).attr('data-role');

            $.ajax('/Users/ToggleRole', {
                method: 'POST',
                data: { id: id, role: role }
            }).done(function (data) {

                if (data.isInRole) {
                    $('span[data-id="' + id + '"][data-role="' + role + '"]').html('<i class="fas fa-check fa-2x"></i>');
                }
                else {
                    $('span[data-id="' + id + '"][data-role="' + role + '"]').html('<i class="fas fa-circle fa-2x"></i>');
                }

            });

        });

    });

</script>
 
}

<h2>Users</h2>

@if (TempData["UsersEmailed"] != null)
{
    var log = (List<string>)TempData["UsersEmailed"];

    <div class="alert-info alert-dismissable" style="padding: 1em;">
        <h3>Invitation Sent:</h3>
        @foreach (var item in log)
        {
        <div>@item</div>
        }
    </div>
}


<table style="width: 100%;">
    <thead>
        <tr>
            <th>Email</th>
            <th>Date</th>
            <th>Company</th>
            <th class="text-center">Confirmed?</th>


            @foreach (var role in ViewBag.Roles)
            {
                <th class="text-center">@role.Name</th>
            }

        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model.OrderByDescending(x => x.InvitationSent).ThenByDescending(x => x.DateCreated).ToList())
        {
        <tr>
            <td>@user.Email </td>
            @if (user.InvitationSent.HasValue)
            {
                <td>@user.InvitationSent.Value.ToString()</td>
            }
            else
            {
                <td>@user.DateCreated.ToString()</td>
            }


            <td>@user.Company</td>
            <td class="text-center">
                @if (user.EmailConfirmed)
        {<i class="fas fa-envelope fa-2x"></i>}
        </td>

        @foreach (var role in ViewBag.Roles)
{
    if (user.Roles.Select(x => x.RoleId).Contains((string)role.Id))
    {
        <td class="text-center"><span data-id="@user.Id" data-role="@role.Name" class="user-role"><i class="fas fa-check fa-2x"></i></span></td>
    }
    else
    {
            <td class="text-center"><span data-id="@user.Id" data-role="@role.Name" class="user-role"><i class="fas fa-circle fa-2x"></i></span></td>
    }

}

        </tr>
        }

    </tbody>
</table>

